{{ template "blog_header.html" .}}

<section class="blog-post-list">
    {{ if .blog.Description }}
    <article class="blog-description">
        {{ .blogDescriptionHTML }}
    </article>

    {{ end }}
    <article class="blog-posts">
        {{ if .posts }}
        <ul class="post-list">
            {{ range .posts }}
            <li class="post-list-item">
                <small class="date">{{ .CreatedAt.Format "02/01/2006" }}</small>
                <a class="item-link" href="/@/{{ $.blog.Subdomain }}/{{ .Slug }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
        {{ else }}
        <div class="blog-empty">
            <p>Nenhum post ainda</p>
            <p>Este blog ainda não possui posts publicados.</p>
        </div>
        {{ end }}
    </article>
</section>

{{ template "blog_footer.html" .}}
