{{ template "site_header.html" .}}

<section class="list-reader">
    <h3 style="margin-bottom: 0">Lista de leitura</h3>
    <small class="muted" style="font-size: 12px">Seu artigo não está aparecendo aqui ? Você precisa autorizar a listagem nas configurações.</small>

    <article class="lists">
        {{ if .posts }}
        <dl class="post-list">
            {{ range .posts }}
            <dt class="post-list-item">
                <small class="date" style="font-size: 15px">{{ .CreatedAt.Format "02/01/2006" }} </small>
                <a class="item-link" href="/@/{{ .BlogSubdomain }}/{{ .Slug }}">{{ .Title }}</a>
                <small class="muted" style="font-size: 15px">@{{ .BlogSubdomain }}</small>
            </dt>
            {{ end }}
        </dl>
        {{ else }}
        <div class="blog-empty">
            <p>Nenhum post ainda</p>
            <p>Sem publicações públicas</p>
        </div>
        {{ end }}
    </article>
</section>

{{ template "site_footer.html" .}}