{{ template "site_header.html" .}}

<section>

    <h3>Olá!</h3>
    <p>Bem vindo a plataforma para ler e escrever <strong>texto</strong>. Sem likes, sem imagens, sem algoritimos. Simples e direto: texto.</p>
    <h4>Sem transformar você, ou seu texto, em produto</h4>

    <ul>
        <li>Sem trackers</li>
        <li>Sem propagandas</li>
        <li>Sem Javascript</li>
        <li>Sem apelo visual</li>
    </ul>
    <h5>Venha ler e escrever. Suas ideias, suas mãos!</h5>
    <ul>
        <li><a href="/leia">Descubra leituras</a>: empodere-se lendo quem já escreve <br /></li>
        <li><a href="/cadastrar">Crie seu blog</a>: Escreva você também.</li>
    </ul>
    <h4>Sempre gratuito</h4>
    <p>Feito de forma a ser tremendamente simples, tremendamente leve para que com poucos recursos conseguimos se sustentar.</p>
    <p>Caso queira contribuir:</p>

    <ul>
        <li><a href="https://github.com/euventura/hamonista">Github</a>: Ajude a corrigir bugs e melhorar codigo</li>
        <li>Convide um amigo para escrever</li>
    </ul>




</section>

{{ template "site_footer.html" .}}