<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="blog, publicação, post, site, leituira, minimalismo, privacidade, anonimato, site, cri seu site, crie seu blog">
    <meta property="og:site_name" content="⌐◯ᵔ◯ Harmonista">
    <meta name="description" content="uma plataforma de escrita e leitura com espirito minimalista com foco na privacidade">
    <meta property="og:description" content="uma plataforma de escrita e leitura com espirito minimalista com foco na privacidade">
    <title>{{ .blog.Title }}</title>
    <link rel="stylesheet" href="/public/css/base.css">

</head>
<body>
<main>
    <header>
        <a href="/"><h1 class="blog-name">⌐◯ᵔ◯ Harmonista</h1></a>
    </header>
