{{ template "site_header.html" .}}

<section>
    <h3>Olá!</h3>
    <p>Bem vindo a um lugar para escrever <strong>texto</strong>. Sem imagens, sem algoritimos, sem propaganda</p>
    <h4>Um lugar para ler e ser lido</h4>

    <ul>
        <li>Sem publicidade</li>
        <li>Sem trackers</li>
        <li>Sem Javascript</li>
        <li>Sem apelo visual</li>
        <li>Sem estratégias para te viciar</li>
    </ul>
    <h5>Ler e escrever as suas ideias, pelas suas mãos e surpreenda-se</h5>
    <ul>
        <li><a href="/leia">Descubra leituras</a> - Empodere-se lendo outras pessoas<br /></li>
        <li><a href="/cadastrar">Crie seu blog</a> - Comece se expressar</li>
    </ul>
    <h4>Sempre gratuito</h4>
    <p>Feito para ser simples e leve e com <a href="https://github.com/euventura/hamonista">código aberto</a></p>
    <p>Caso queira contribuir:</p>

    <ul>
        <li>Claramente precisamos fazer temas melhores</li>
        <li><a href="https://github.com/euventura/hamonista">Github</a>: Ajude a corrigir bugs e melhorar código</li>
        <li>Sugestões - manda um <a href="mailto:salve@harmonista.com">salve</a> </li>
    </ul>

</section>

{{ template "site_footer.html" .}}