{{ template "site_header.html" .}}

<section>

    <p>Micro plataforma para escrever <strong>texto</strong>. Sem algoritimos, trackers, js ou propaganda</p>
    <h4>Um lugar para ler e ser lido. Sempre gratuito</h4>

    <h5>Ler e escrever as suas ideias, pelas suas mãos. <a href="/cadastrar">Crie seu espaço</a></h5>
    <br>

</section>
{{ if .posts }}
<section>
    <h4>Últimas historias</h4>

    <dl class="post-list">
        {{ range .posts }}
        <dt class="post-list-item">
            <small class="date" style="font-size: 15px">{{ .CreatedAt.Format "02/01/2006" }} </small>
            <a class="item-link" href="/@/{{ .Blog.Subdomain }}/{{ .Slug }}">{{ .Title }}</a>
            <small class="muted" style="font-size: 15px">@{{ .Blog.Subdomain }} </small>
        </dt>
        {{ end }}
    </dl>
    <a href="/leia">Descubra outras leituras</a>

</section>
{{ end }}

{{ template "site_footer.html" .}}