{{ template "admin_header.html" .}}

<h2>Que alegria em te receber</h2>

{{ if .emailError }}
<div class="danger">
    <p><strong>Atenção:</strong> {{ .emailError }}</p>
</div>
{{ else }}
<div>
    <h4>Bem vindo amigo!</h4>
    <p>Que você fique a vontade aqui, mas para apertar nossa mão digitalmente um e-mail foi enviado para <strong>{{ .email }}</strong></p>
    <br>
    <p>Por favor, verifique sua caixa de entrada e clique no link de confirmação para ativar sua conta.</p>
    <p>Não esqueça de verificar a pasta de spam caso não encontre o email.</p>
</div>
{{ end }}

<p>
    <a href="/login">Voltar para o login</a>
</p>

{{ template "admin_footer.html" .}}
