<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="no-index, no-follow">

    <title>⌐◯ᵔ◯ Harmonista : {{ .blog.Title }}</title>
    <link rel="stylesheet" href="/public/css/base.css">

</head>
<body>
<main>
    <header>
        <h1 class="harmonista"><a href="/">⌐◯ᵔ◯ Harmonista</a></h1>
    </header>
    <section>
        {{ if .blog.Subdomain }}
        <small><a href="{{ domain }}/@/{{ .blog.Subdomain }}/" target="_blank">{{ domain }}/@/{{ .blog.Subdomain }}/</a></small>
        <h2>{{ .blog.Title }}</h2>
        {{ end }}

    </section>
    {{ if .blog.Subdomain }}
    {{ template "admin_menu.html" .}}
    {{ end }}