{{ template "admin_header.html" .}}
<header>
    <h2>Páginas</h2>
    <a href="/admin/{{.subdomain}}/page/novo">Nova Página</a>
</header>

<dl>
    {{ range .pages }}

        <dt>{{ .CreatedAt.Format "02/01/2006" }}  <a href="/admin/{{$.subdomain}}/page/{{ .ID }}>">{{ .Title }}</a></dt>
        <dd>
            <small class="muted">{{ domain }}/@/{{$.subdomain}}/p/{{ .Slug }}</small><br>
        </dd>

    {{ end }}
</dl>

<script>
function deletePage(id) {
    if (!confirm('Tem certeza que deseja deletar esta página?')) {
        return;
    }
    fetch('/admin/{{.subdomain}}/page/' + id, {
        method: 'DELETE'
    }).then(() => location.reload());
}
</script>

{{ template "admin_footer.html" .}}
