{{ template "admin_header.html" .}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tiny-markdown-editor@0.1.13/dist/tiny-mde.min.css">

<header>
    <h2>Criar Novo Post</h2>
</header>

<form action="/admin/{{.subdomain}}/post/salvar" method="POST">
    <label for="title" class="width">
        Título
        <input type="text" id="title" name="title" required>
    </label>

    <label for="tags" class="width">
        Tags
        <input type="text" id="tags" name="tags">
    </label>

    <label for="txt_content" class="width">
        Conteúdo (<a href="https://markdown.net.br/referencia-rapida/" target="_blank">Markdown</a>)

    </label>
    <section style="background-color: #ffffff;">
        <textarea id="txt_content" name="content" rows="20" required> </textarea>
    </section>
    <input type="hidden" id="draft" name="draft" value="true">
    <section>
        <button type="submit" name="action" value="save_draft">Salvar Rascunho</button>
        <button type="submit" name="action" value="publish">Publicar</button>
        <button type="button" onclick="window.location.href='/admin/{{.subdomain}}/posts'">Cancelar</button>
    </section>
</form>

<script src="https://cdn.jsdelivr.net/npm/tiny-markdown-editor@0.1.13/dist/tiny-mde.min.js"></script>
<script>
    var tinyMDE = new TinyMDE.Editor({textarea: 'txt_content', content: ' '});

    document.querySelector('button[value="save_draft"]').addEventListener('click', function () {
        document.getElementById('draft').value = 'true';
    });

    document.querySelector('button[value="publish"]').addEventListener('click', function () {
        document.getElementById('draft').value = 'false';
    });
</script>

{{ template "admin_footer.html" .}}
