{{ template "admin_header.html" .}}

<h2>Login</h2>

{{if .error}}
<div class="danger">
    <p>{{ .error }}</p>
</div>
{{end}}

<form action="/login" method="POST">
    <label for="email" class="width">
        Email
        <input type="email" id="email" name="email" value="{{ .email }}" required>
    </label>

    <label for="password" class="width">
        Senha
        <input type="password" id="password" name="password" required>
    </label>

    <button class="" type="submit">Entrar ⌐◯ᵔ◯</button>
</form>

<p>
    Ainda não tem uma conta? <a href="/cadastrar">Cadastre-se aqui</a>
</p>

{{ template "admin_footer.html" .}}
