<menu>
    <li><a href="/admin/{{ .blog.Subdomain }}/">Inicio</a></li>
    <li><a  href="/admin/{{ .blog.Subdomain }}/posts">Posts</a></li>
    <li><a  href="/admin/{{ .blog.Subdomain }}/pages">Páginas</a></li>
    <li><a  href="/admin/{{ .blog.Subdomain }}/menu">Menu</a></li>
    <li><a  href="/admin/{{ .blog.Subdomain }}/tema">Tema</a></li>
    <li><a  href="/admin/{{ .blog.Subdomain }}/visitas">Visitas</a></li>
    <li><a  href="/admin/{{ .blog.Subdomain }}/config" style="color: var(--danger)">Configurações</a></li>
</menu>