<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="no-index, no-follow">
    <title>Erro - Backoffice Harmonista</title>
    <link rel="stylesheet" href="/public/css/base.css">
</head>
<body>
<main>
    <header>
        <h1 class="harmonista">⌐◯ᵔ◯ Harmonista</h1>
        <h2>Erro</h2>
    </header>

    <section>
        <p style="color: var(--danger);">{{.error}}</p>
        <p><a href="/$/login">Voltar para o login</a></p>
    </section>
</main>
</body>
</html>
